.bg-login-image {
  background-image: url('/src/img/bg-logo-loggi.png');
}

.flex-bg {
  display: flex;
  align-content: center;
  align-items: center;
}

.nav-color {
  background-color: #00BAFF;
}
  
.size-topbar {
  height: 100px;
  margin-bottom: 0px !important;
}

.size-nav {
  height: 98px !important;
}

.profile-img {
  font-size: 200%;
  color: #00BAFF;
}

.btn-search {
  background-color: #00BAFF;
  color: #ffffff;
}

.btn-hamburguer, .btn-enter {
  color: #00BAFF;
}

.icon-logo-nav {
  width: 80%;
}

.text-logo-nav {
  width: 50%;
  margin: 0;
}

.icon-color {
  color: white !important;
}

.footer-size {
  padding: 22px !important;
}

.text-title {
  color: #ffffff;
  font-size: 25px;
  font-family: Montserrat;
}
.sub-title {
  color: #ffffff;
  font-size: 18px;
  text-align: left; 
}

.btn-enter {
  background-color: #ffffff;
  margin-top: 15px;

}

.container-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}